:root{
    --color-white: #fff;
    --color-black: #000;
    --color-base: #263238;
    --color-accent: #BAEF00;
    --color-hover: #D9FF56;
    --color-active : #A3D200;
    --color-price: #6C6C6C;
    --color-outline: #E3E3E3;
    --color-placeholder: #8D8D8D;
    --border-radius: 12px;
    --transition-duration: .3s;
}