@import "reset";
@import "variabiles";
@import "globals";
@import "mixins";

@import "blocks/link";
@import "blocks/button";
@import "blocks/input";
@import "blocks/card";

@import "blocks/header";
@import "blocks/hero";
@import "blocks/footer";

