.card {
    outline: 1px solid var(--color-outline);
    border-radius: var(--border-radius);
    background-color: var(--color-white);

    &__wrapper-img {
        width: 100%;
        height: 180px;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        overflow: hidden;

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__body {
        padding: 16px;
        @include flexColumn(22px);
        justify-content: space-between;
    }

    &__desc {
        display: flex;
        @include flexColumn(10px);
    }

    &__title {
        max-width: 220px;
        font-weight: 700;
        font-size: 21px;
        color: var(--color-black);
    }

    &__price {
        font-size: 18px;
        font-weight: 700;
        color: var(--color-price);
    }
}

.card_accent {
    position: relative;


    .card{
        &__wrapper-img {
            min-height: 180px;
            border-radius: var(--border-radius);
            overflow: hidden;
        }
        

        &__body {
            border-radius: var(--border-radius);
            overflow: hidden;
            align-items: flex-start;
            position: absolute;
            //bug блок body при уменьшении ширины экрана или при много текста всплывает выше родительского 
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }


        
        &__title {
            color: var(--color-white);
            max-width: none;
        }

        &__price {
            color: var(--color-white);
        }

    }

    
}