.catalog {
    &__container {
        @include flexColumn(58px);
    }

    &__title {

    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}