.input {
    padding: 11px 47px 11px 16px;
    border: 1px solid var(--color-placeholder);
    border-radius: var(--border-radius);
    caret-color: var(--color-accent);
    transition: border-color var(--transition-duration);

    &::placeholder {
        color: var(--color-placeholder);
    }

    &:focus-visible, &:hover {
       border-color: var(--color-accent);
    }
}