.order {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &::before {
        content: '';
        background-image: url(../img/background/left.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__right{
        position: relative;
        padding: 70px 50px;
        background-image: url(../img/background/right.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include flexColumn(26px);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            
        }

    }

    &__text {
        position: relative;
        z-index: 1;
        color: var(--color-white);
        max-width: 430px;
        font-size: 20px;
    }

    &__form {
       display: flex;
       gap: 16px;
       position: relative;
       z-index: 1;
    }

    &__input {
        min-width: 288px;
    }

    &__button {

    }


}